################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code review/*/obj
/Code review/*/bin/Debug/*
